.swiper{
    background-color: white;
}
.swiper-slide {
  width: 750px;
  img {
    width: 350px;
    height: 250px;
  }
}


@media (min-width: 300px) {
.swiper{
width: 200px;
}
@media (min-width: 450px) {
.swiper{
width: 400px;
}
}
@media (min-width: 650px) {
.swiper{
width: 600px;
}
}
@media (min-width: 870px) {
.swiper{
width: 800px;
}
}
@media (min-width: 1190px) {
.swiper{
width: 1100px;
}
}
@media (min-width: 1390px) {
.swiper{
width: 1300px;
}
}
@media (min-width: 1500px) {
.swiper{
width: 1470px;
}
}
}